<div class="container"><h1>Formulario de contacto</h1>
  <div id="formulario">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Nombre</span>
      <input type="text" class="form-control" placeholder="Nombre y apellido" aria-label="Username" aria-describedby="basic-addon1" #nombre>
      <small class="col-12 ms-4 text-danger">Introduzca su nombre y apellido</small>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Email</span>
      <input type="email" class="form-control" placeholder="ejemplo@dominio.com" aria-label="Username" aria-describedby="basic-addon1" #email>
      <small class="col-12 ms-4 text-danger">{{emailMsg}}</small>
    </div>
    <div class="input-group">
      <span class="input-group-text">Mensaje</span>
      <textarea class="form-control" aria-label="With textarea" #mensaje></textarea>
      <small class="col-12 ms-4 text-danger">Introduzca un mensaje</small>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">2 + 3 = ?</span>
      <input type="number" class="form-control" placeholder="Respuesta" aria-label="Username" aria-describedby="basic-addon1" #suma>
      <small class="col-12 ms-4 text-danger">{{valMsg}}</small>
    </div>
    <button class="btn btn-primary" (click)="uploadData(nombre.value, email.value, mensaje.value, suma.value)">Enviar</button>
  </div>

  <app-formulario [datos]="datos"></app-formulario>
</div>

